<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLiCIyawFw2ZXir1T-5W5lqfIzj9X7tc4</string>
	<key>GCM_SENDER_ID</key>
	<string>725076097765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hexstudio.rydeAppEnv</string>
	<key>PROJECT_ID</key>
	<string>ryde-env</string>
	<key>STORAGE_BUCKET</key>
	<string>ryde-env.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725076097765:ios:9b08686cbdfe65a03df20c</string>
</dict>
</plist>